<div class="head">
    <h4>
        Welcome <%= user.name %>
    </h4>
    <div>
        
    <a href="/logout" style="text-decoration: none;">
        <button class="btn" style="background-color:  #ff5252; font-weight: 500;color: #fff;">Logout</button>
        <a href="/changePass" style="font-weight: 500;color: #ff5252;">Change Password?</a>
    </a>
    </div>
</div>