<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/home.css">
    <!-- Bootstrap CSS -->
  </head>
  <body>
      <nav >
        <%- include("./partials/header",{user:user}) %> 
      </nav>
<!-- 
      <div class="new">
        <h5>Add new product</h5>
        <form action="/newproduct" method="post" class="form" enctype="multipart/form-data">
          <input type="text" name="name" placeholder="Name" >
          <input type="text" name="description"  placeholder="Description">
          <input type="text" name="price"  placeholder="Price">
          <input type="file" name="product-pic" >
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
        <% if (error) { %>
          <div class="d-flex justify-content-center">
            <p style="color:red"><%= error %></p>
          </div>
        <% } %>
      </div> -->
      
      <div class="p-item" id="p-item">
        <div class="d-flex justify-content-between">
          <h3>Product List</h3>
          <div>
            <a href="/mycart" class="btn btn-primary" id="mycart">My Cart</a>
            <a href="/myorder" class="btn" style="background-color: rgb(201, 34, 131); color: aliceblue;" >My Orders</a>
          </div>
        </div>
        <%- include("./partials/product",{product:product,cartitems:cartitems}) %>
      </div>
      <div id="n" class="d-flex justify-content-center align-items-center" width="100%" style="
      margin-bottom: 30px;
  ">
       <a href="/next"  id="next">
        <button class="btn " style="background-color:rgb(4, 156, 143); color: aliceblue;">
          Next Page
        </button> 
       </a> 
      </div>

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/home.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>