<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/home.css">
    <!-- Bootstrap CSS -->
  </head>
  <body>
      <nav >
           <%- include("./partials/header",{user:user}) %>
      </nav>

      <div class="new">
        <h5>Add new product</h5>
        <form action="/sellerNewProduct " method="post" class="form" enctype="multipart/form-data">
          <input type="text" name="name" placeholder="Name" required>
          <input type="text" name="description"  placeholder="Description" required>
          <input type="text" name="price"  placeholder="Price" required>
          <input type="text" name="quantity"  placeholder="Quantity" required>
          <input type="text" name="seller"  placeholder="Seller" style="display: none;"value=<%= user.username %>>
          <input type="file" name="product-pic" required>
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
        <% if (error) { %>
          <div class="d-flex justify-content-center" >
            <p style="color:red" id="error"><%= error %></p>
          </div>
        <% } %>
      </div>


      <div class="newcsv">
        <div>
          <h5>Or Upload CSV File</h5>
        </div>
        <form action="/csv" method="post" class="form" enctype="multipart/form-data">
          <input type="file" name="csvFile" accept=".csv" required>
          <input type="submit" value="Upload" class="btn btn-primary">
        </form>
        <% if (error) { %>
          <div class="d-flex justify-content-center" >
            <p style="color:red" id="error"><%= error %></p>
          </div>
        <% } %>
      </div>
      

      
      <div class="p-item" id="p-item">
        <div class="d-flex justify-content-between align-items-center">
          <h3>Product List</h3>
          <a href="/seller/ordersList" class="btn btn-primary">Orders List</a>
        </div>
        
        <div id="list">

        </div>
      </div>

      <template id="new">
        <div class="d-flex align-items-center items" id="">
          <div class="d-flex align-items-center" style="width: 50%;">
              <img src="" alt="" width="20%" height="40%">
              <div>
                <input type="text" placeholder="Name" id="name">
                <input type="text" placeholder="Price" id="price">
              </div>
          </div>
           <div style="display: flex; justify-content: space-around; width: 40%;" id="myPopup">
            <div class="d-flex align-items-center">
                <input type="text" placeholder="Description" id="desc">
                <input type="text" placeholder="Quantity" id="quantity">
              <input type="text" id="seller" style="display: none;" >
            </div>
                <a class="btn btn-secondary delete" id="">Delete</a>
                <a class="btn btn-secondary update" id="">Update</a>
            </div>
            
        </div>
      </template>  
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/seller.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
