<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/signup.css">
  </head>
  <body>
      <div class="container">
        <div class="row">
            <div class="col-2 col-sm-3 col-lg-4"></div>
            <div class="col-8 col-sm-6 col-lg-4" style="   background-color: rgb(255, 255, 255); border-radius:10px;">
                <div class="mt-2 d-flex justify-content-center align-items-center">
                  <p>Welcome to Signup page </p>
                </div>
                <div>
                    <form method ="post" action="/signup" class="form">
                      <div style="display: flex;">
                        <input type="radio" class="user"name="user" id="" value="user" required>User
                        <input type="radio" class="user" name="user" value="seller">Seller
                      </div>
                        <input type="text" name="name" placeholder="Name" required>
                        <input type="text" name="username" placeholder="Username" required>
                        <input type="email" name="email" placeholder="Email" required>
                        <input type="password" name="password" placeholder="Password" id="pass" required>
                        <div style="display: flex; width: 100%; justify-content: center;">
                          <input type="checkbox" id="check" class="check" name="show" style=" width: 4%; margin:0px 2px 0px 0px"><label for="show">Show Password</label>

                        </div>
                        <input type="submit" value="Signup" class="signup">
                        <a href="/login" style="color: black; font-weight: 500; margin-bottom: 5px;">Already a user?</a>
                    </form>

                    <% if (error) { %>
                      <div class="d-flex justify-content-center">
                        <p style="color:red"><%= error %></p>
                      </div>
                    <% } %>
                </div>
            </div>
            <div class="col-2 col-sm-3 col-lg-4"></div>
        </div>

      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
      let pass=document.getElementById("pass");
      let check=document.getElementById("check");

      check.addEventListener("click",()=>{
        if(pass.type=="text"){
          pass.type="password";
        }
        else{
          pass.type="text"
        }
      })
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>