body{
    height: 100vh;
    background-image: url('../2593042.jpg');
    /* background-repeat: no-repeat; */
     background-size:cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}
.row{
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
   padding-top: 20px;
    align-items: center;
}
input{
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    width: 70%;
}
input:hover{
    box-shadow: 1px 1px 2px 3px rgb(106, 208, 248);
    transform: scale(1.1);
   
}
input:focus{
    outline: none;
    box-shadow: 1px 1px 2px 3px rgb(106, 208, 248);
    transform: scale(1.1);
}
.btn{
    width: 30%;
}
.btn:hover{
    box-shadow: 1px 1px 2px 3px rgb(4, 190, 113);
}
p{
    font-weight: 600;
    font-size: 25px;
}
.signup{
    width: 5rem;
    display: inline-block;
    color: aliceblue;
    background-color: #28a745;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


@media screen and (max-width: 750px) {
    p{
         font-size: 20px;
    }
    label{
        font-size: 12px;
    }
    .signup{
        width: 3.3rem;
        padding: 0.3rem 0.55rem;
       font-size: .7rem;
    }
    input{
        font-size: .7rem;
    }
    a{
        font-size: .7rem;
    }
}

@media screen and (max-width: 450px) {
    p{
         font-size: 15px;
    }
    label{
        font-size: 8px;
    }
    input{
        font-size: .5rem;
    }
    .signup{
        width: 2.5rem;
        padding: 0.25rem 0.45rem;
        font-size: .5rem;
    }
    a{
        font-size: .6rem;
    }
}